@page "/warehouses"
@rendermode InteractiveServer
@inherits ListPageBase

<StandardListButtons
    MenuName="Warehouses"
    SearchInvoked="ApplySearchFromRibbon"
    NewInvoked="NewWarehouse"
    DeleteInvoked="Delete"
    ExportInvoked="ExportToExcel">    
</StandardListButtons>

<ConfirmDialogue Show="showConfirmDialogue" OnCancel="CancelDeleteDialogue" OnOk="DeleteConfirmed">
    <h3>
        Do you want to delete this record?
    </h3>
</ConfirmDialogue>

<Toast></Toast>

<div class="row" @onclick="HideContext">
    @if (_warehouses != null && _warehouses.Any())
    {
        <div class="col-2 border-end border-dark vh-100">
        <SearchWidget 
            SearchInvoked=ApplySearchFromWidget 
            ClearSearchInvoked="ClearSearchFromWidget"
            SearchProps="_warehouses.FirstOrDefault()!.SearchProps()">
        </SearchWidget>
    </div>
    <div class="col-md">
        <table class="table table-responsive table-striped table-hover">
            <thead>
                <tr>
                    <th></th>
                    <th>Id</th>
                    <th width="1%"></th>
                    <th>Name</th>
                    <th>Street1</th>
                    <th>Postcode</th>
                    <th>Country</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in _warehouses)
                {
                    <tr @onclick="() => SetCurrentRow(item)">
                        <td><input type="checkbox" class="listPage_checkBox"></td>
                        <td><a href="/warehouseedit/@item.Id">@item.Id</a></td>
                        <td>

                            <button class="btn bi bi-three-dots-vertical p-1"
                                    type="button" id="contextMenuButton" 
                                    @onclick="ContextMenu">
                            </button>
                        </td>
                        <td>@item.Name</td>
                        <td>@item.Street1</td>
                        <td>@item.Postcode</td>
                        <td>@item.CountryCode</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
    }
    @if(_contextMenuVisible)
    {
        <div id="cdkOverlay" class="border border-primary rounded-1" style="@cdkOverlayPane">
            <ul class="navbar-nav">
                <li class="nav-item1">
                    <button class="btn bi bi-x-square pe-3" @onclick="Edit"> Edit</button>
                </li>
                <li class="nav-item1">
                    <button class="btn bi bi-three-dots-vertical pe-3" onclick="javascript:makeListCheckBoxVisible()"> Select</button>
                </li>
                <li class="nav-item1">
                    <button class="btn bi bi-filetype-xls pe-3" @onclick="Delete"> Delete</button>
                </li>
            </ul>
        </div>
    }
</div>

